---
import ClientCard from "@components/cards/ClientCard.astro";
import {clients} from "@components/ClientsList.astro";

const firstClients = clients.slice(0, 12);
const restClients = clients.slice(12);
---
<div id="client-grid" class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4">
  {firstClients.map((client) => (
    <div class="col-span-1 p-4">
      <ClientCard name={client.name} img={client.img} />
    </div>
  ))}
</div>

<!-- Este div debe estar oculto por defecto -->
<div id="extra-clients" class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 hidden">
  {restClients.map((client) => (
    <div class="col-span-1 p-4">
      <ClientCard name={client.name} img={client.img} />
    </div>
  ))}
</div>

<div class="flex justify-center mt-4 mb-[50px]">
  <button 
    id="toggle-button"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
  >
    Mostrar más
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const extraClients = document.getElementById('extra-clients');
    const button = document.getElementById('toggle-button');
    let showAll = false;

    // Asegurar que los clientes adicionales estén ocultos al cargar la página
    extraClients.classList.add("hidden");

    button.addEventListener("click", () => {
      showAll = !showAll;
      extraClients.classList.toggle("hidden");
      button.textContent = showAll ? "Mostrar menos" : "Mostrar más";
    });
  });
</script>

