---
import EventCard from "@components/cards/EventCard.astro";
const imagesAlbal = ["event1.webp", "event2.webp"];
---

<div class="grid lg:grid-cols-4 grid-cols-1">
  <div class="col-span-1 p-4">
    <EventCard name="EVENTO ALBAL" img="albal" images={imagesAlbal} />
  </div>
  <div class="col-span-1 p-4">
    <EventCard name="EVENTO GANDÍA" img="gandia" images={imagesAlbal} />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="FALLA PLAZA DE LA MORERIA"
      img="fallamoreria"
      images={imagesAlbal}
    />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="EVENTO UNIVERSIDAD CATOLICA DE VALENCIA"
      img="ucv"
      images={imagesAlbal}
    />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="EVENTO AYUNTAMIENTO DE ALCALÁ DE XIVERT ALCOSSEBRE"
      img="alcosserbre"
      images={imagesAlbal}
    />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="EVENTO AYUNTAMIENTO DE ALQUERIES"
      img="alqueries"
      images={imagesAlbal}
    />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="FALLA LA NOVA D'ORRIOLS"
      img="fallanova"
      images={imagesAlbal}
    />
  </div>
  <div class="col-span-1 p-4">
    <EventCard name="LUGO GAMING FEST" img="lugo" images={imagesAlbal} />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="TORNEO MARIO KART MIGUEL HERNANDEZ"
      img="miguel"
      images={imagesAlbal}
    />
    <EventCard
      name="TORNEO FC24 MIGUEL HERNANDEZ"
      img="miguelfifa"
      images={imagesAlbal}
    />
  </div>
</div>
