---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import EventCard from "@components/cards/EventCard.astro";
const { name } = Astro.params;
const items = [
  { name: "EDIFICI POLIFUNCIONAL GUILLEM AGULLO", img: "Poster de Gaming X Deport 36.webp", date: "04-01-2025"},
  { name: "ESPAI JOVE CHIVA", img: "Poster de Gaming X Deport 34.webp", date: "02-01-2025"},
  { name: "PLAZA DE AMISTAT", img: "Poster de Gaming X Deport 33.webp", date: "30-12-2024"},
  { name: "PUZOL", img: "Poster de Gaming X Deport 32.webp", date: "30-12-2024"},
  { name: "MERCADO DE CASAS IBAÑEZ", img: "Poster de Gaming X Deport 31.webp", date: "29-12-2024"},
  { name: "EDIFICI POLIFUNCIONAL ALCORA", img: "Poster de Gaming X Deport 30.webp", date: "28-12-2024"},
  { name: "ALCORA", img: "Poster de Gaming X Deport 25.webp", date: "28-12-2024"},
  { name: "SALON POLIVALENTE DE SANIRCAS", img: "Poster de Gaming X Deport 37.webp", date: "27-12-2024"},
  { name: "MUSEROS", img: "Poster de Gaming X Deport 26.webp", date: "27-12-2024"},
  { name: "CEIP STA M.MAGDALENA", img: "Poster de Gaming X Deport 28.webp", date: "23-12-2024"},
  { name: "CAMPOS DE RIO", img: "Poster de Gaming X Deport 35.webp", date: "20-12-2024"},
  { name: "CASAL IBAÑEZ", img: "Poster de Gaming X Deport 24.webp", date: "27-04-2024"},
  { name: "CASTELLON", img: "Poster de Gaming X Deport 39.webp", date: "05-04-2024"},
  { name: "CASAL JOVE TALES", img: "Poster de Gaming X Deport 21.webp", date: "06-01-2024"},
  { name: "CASAL JOVE TALES", img: "Poster de Gaming X Deport 23.webp", date: "06-01-2024"},
  { name: "AYUNTAMIENTO DE PUZOL", img: "Poster de Gaming X Deport 19.webp", date: "03-01-2024"},
  { name: "AYUNTAMIENTO DE SANT JOAN DE MORO", img: "Poster de Gaming X Deport 18.webp", date: "02-01-2024"},
  { name: "AYUNTAMIENTO SANT JOAN DE MORO", img: "Poster de Gaming X Deport 22.webp", date: "02-01-2024"},
  { name: "AYNTAMIENTO DE GESTALGAR", img: "Poster de Gaming X Deport 17.webp", date: "29-12-2023"},
  { name: "AYUNTAMIENTO DE TALES", img: "Poster de Gaming X Deport 15.webp", date: "29-12-2023"},
  { name: "MELIANA", img: "Poster de Gaming X Deport 29.webp", date: "26-12-2023"},
  { name: "AYUNTAMIENTO DE MELIANA", img: "Poster de Gaming X Deport 16.webp", date: "26-12-2023"},
  { name: "TEULADA", img: "Poster de Gaming X Deport 14.webp", date: "27-12-2023 / 28-12-2023"},
  { name: "CEIP LOPE VEGA", img: "Poster de Gaming X Deport 13.webp", date: "28-10-2023"},
  { name: "UNIVERSIDAD MIGUEL HERNANDEZ", img: "Poster de Gaming X Deport 12.webp", date: "06-11-2023"},
  { name: "UNIVERSIDAD MIGUEL HERNANDEZ", img: "Poster de Gaming X Deport 11.webp", date: "16-10-2023"},
  { name: "ALQUERIES", img: "Poster de Gaming X Deport 9.webp", date: "04-10-2023"},
  { name: "CALLE JAI ALAI", img: "Poster de Gaming X Deport 8.webp", date: "11-08-2023"},
  { name: "CASAL JOVE ALBALX", img: "Poster de Gaming X Deport 7.webp", date: "15-07-2023"},
  { name: "PLAZA TIRANT GANDIA", img: "Poster de Gaming X Deport 6.webp", date: "22-04-2023"},
  { name: "UNIVERSIDAD CATOLICA DE VALENCIA", img: "Poster de Gaming X Deport 5.webp", date: "09-03-2023"},
  { name: "FALLA PLAZA LA MORERIA", img: "Poster de Gaming X Deport 2.webp", date: "12-03-2023"},
  { name: "FALLA NOVA DORRIOLS", img: "Poster de Gaming X Deport 4.webp", date: "15-03-2023"}
];


const item = items.find(i => i.name === name);
const imagesAlbal = ["event1.webp", "event2.webp"];
---
<Layout title={item ? item.name : "No encontrado"}>
  <main class="text-white">
        <div class="gap-[50px]  lg:gap-[30vh] mt-[100px] lg:mt-0 w-full bg-blue-500 flex flex-col sm:flex-row md:flex-row justify-center items-center md:h-[600px] shadow-lg p-8">
          <div class="flex items-center justify-center w-[50vh] sm:w-[150vh] md:w-[85vh] lg:w-[60vh]">
            <EventCard name={item.name} img={item.img} images={imagesAlbal} date={item.date} />
          </div>
            <div class="flex flex-col justify-center text-white text-justify text-[18px] w-full md:w-1/2">
              <h3 class="font-bold text-[25px]"><i class="fa-solid fa-location-dot"></i> {item.name}</h3>
              <span class="font-bold text-[20px] italic"><i class="fa-solid fa-calendar-days"></i> {item.date}</span>
              <span class="lg:w-[80%]">{item.description}</span>
              
              <a href="/eventos">
                <button class="relative z-10 mt-10 inline-flex items-center px-10 py-2 text-lg font-bold text-blue-500 bg-white rounded shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-2xl hover:from-blue-600 hover:to-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-400 overflow-hidden group">
                  Volver
                </button>
              </a>
            </div>
          </div>
  </main>
</Layout>